<% if @user %>
<div class="user">
	<h1>Welcome, <a href="/users/<%=@user.id%>"><%=@user.username%></a></h1>
	<button><a href="/users/sign_out">sign out</a></button>
	</div>
<% else %>
<div class="no_user">
 	<h1>Welcome to The Writer's Block</h1>
 	<h3>sponsored by Block Overflow</h3>
	<button><a href="/users/sign_up">sign up</a></button>
	<button><a href="/users/sign_in">sign in</a></button>
</div>
<% end %>



<% if @user %>
<form action="/posts" method="post">
	<input type="text" name="title">
	<select name="language">
		<option value=nil>What Language?</option>
		<option value=nil>Boring old English</option>
		<option value=ruby>Ruby</option>
		<option value=html>HTML</option>
	</select>
	<textarea name="body" cols="82" rows="10"></textarea>
	<input type="submit">
</form>
<hr>
<% end %>

<% @posts.reverse.each do |post| %> 
	<div class="post">
		<h1>
			<%= post.title %>
		</h1>
			<p class="italics" >User: <%= post.user.username %></p>
			<p class="italics" >Created at: <%= post.created_at.asctime %></p>
		<div class= "body block_overflow">
			<%= post.body %>
		</div>
		<% if @user %>
			<% unless @user.posts.include?(post) %>
				<% if @user.faves.include?(post) %>
				<a href="/posts/<%=post.id%>/unlike">UNLIKE</a>
				<% else %>
				<a href="/posts/<%=post.id%>/like">LIKE</a>
				<% end %>
			<% end %>
		<% end %>
		<div class="comments">
			<% post.comments.each do |comment| %> 
				<p><%=comment.user.username%>: <%= comment.body %></p>
			<% end %>
		</div>

		<% if @user %>
			<div class= "new_comment">
				<form action="/posts/<%=post.id%>/comments" method="post">
					<textarea name="comment_text" id="" cols="75" rows="2"></textarea>
					<input type="submit">
				</form>
			</div>
		<% end %>
	</div>
<% end %>

















