
<h1 class="user"><%= @user.username %></h1>

<h2>Your posts:</h2>
  <% @user.posts.reverse.each do |post| %>
    <div class="post">
    <h2>
      <%= post.title %>
    </h2>
      <p class="italics" >Created at: <%= post.created_at.asctime %></p>
    <div class= "body">
      <%= post.body %>
    </div>
    <a href="/posts/<%= post.id %>/edit">Edit Post</a>
    <a href="/posts/<%= post.id %>/delete">Delete Post</a>
  </div>
  <% end %>

<h2>Posts Liked by <%= @user.username %></h2>
  <% @user.faves.each do |post| %>
  <div class="post">
    <h2>
      <%= post.title %>
    </h2>
      <p class="italics" >Created at: <%= post.created_at.asctime %></p>
    <div class= "body">
      <%= post.body %>
    </div>
  </div>
	<% end %>